@import "_base(v1)";
h2 {
    letter-spacing: 3px;
    line-height: 60px;
}
h2,h3 {
    text-transform: uppercase;
}
h4 {font-size: 0.9rem;}
.bttn-def {
    border: 2px solid #D5621D;
    border-radius: 5px;
    text-transform: uppercase;
}
.orange {color: #D5621D;}
.white-bg {
    font-weight: 700;
    font-family: 'GothamPro',sans-serif;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    background: #fff;
    padding: 15px 20px 12px 20px;
    border-radius: 5px;
}
.title {
    text-align: center;
    h2{
        padding: 40px 0 35px 0;
    }
}
@import "comp/_header";
@import "comp/_promo";
@import "comp/_menu";
@import "comp/_info";
@import "comp/_rider";
@import "comp/_contacts";
@import "comp/_footer";
@import"_media";