.contacts {
    margin: 150px 0;
}
.contacts__main {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.contacts__info {
    max-width: 30%;
    border: 2px solid #D5621D;
    border-radius: 5px;
    padding: 2.5rem;
    background: rgba(213, 98, 29, 0.1);
    p {
        padding: 20px 0 35px 0;
        &:last-of-type {
            padding: 20px 0 0 0;
        }
    }
}
.separator {
    background: #fff;
    height: 1px;
    margin-bottom: 35px;
}
.contacts__map {
    max-width: 55%;
    img {
        max-width: 100%;
    }
}