.header {
    margin-top: 30px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header__bar {
    display: flex;
    gap: 10px 30px;
    a {
        &:hover {
            transition: all 0.2s ease;
            color: #D5621D;
        }
    }
}
.header__other {
    display: flex;
    align-items: center;
}
.ticket {
    max-width: 55%;
}
.header__bttn {
    button {
        font-family: 'Stolzl',sans-serif;
        padding: 15px 30px;
    }
}