.info {
    margin: 150px 0;
}
.info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.info__events,.info__tour {
    position: relative;
    text-align: center;
    max-width: 25%;
    margin: 0 auto;
}

.events__text-content,.tour__text-content {
    p {
        line-height: 22px;
        padding-bottom:20px;
    }
}
.events__bttn,.tour__bttn {
    button {
        padding: 15px 30px;
    }
}