.promo {
    margin-top: 55px;
}
.promo__container {
    display: flex;
    align-items: center;
    gap: 24px;
}
.promo__main {
    background: url(../../img/promo_img.png);
    @include bgProperty;
    max-width: 90%;
    height: 540px;
    border-radius: 5px;
    h2 {
        max-width: 70%;
        margin: 30px 0 45px 0;
    }
    p {
        font-family: 'GothamPro';
        box-sizing: border-box;
        width: 22%;
        font-size: 18px;
    }
}

.main__text-content {
    margin-top: 301px;
    margin-left: 60px;
    margin-right: 60px;
}

.promo__aside {
    max-width: 33%;
    border-radius: 5px;
}

.aside__title {
    display: flex;
    text-align: center;
    h3 {
        padding: 14px 0 10px 0;
        font-size: 0.875rem;
        &:hover {
            transition: all 0.2s ease;
            color: #D5621D;
            cursor: pointer;
        }
    }
    div {
        text-align: center;
        width: 100%;
        background: rgba(213, 98, 29, 0.07);
        border-radius: 5px 5px 0 0;
        &:last-of-type {
            background: rgba(213, 98, 29, 0.05);
        }
    }
}
.aside-bttn {
    &:hover {
        color: #D5621D;
        background: none;
    }
}
.aside__covers {
    display: flex;
    background: rgba(213, 98, 29, 0.07);
    border-radius: 0 0 5px 5px;
    padding: 38px 10px;
    flex-wrap: wrap;
    gap: 26px;
    align-items: center;
    justify-content: center;
}

.promo__arrow {
    display: none;
    position: absolute;
    right: 10px;
    padding: 0 10px;
}