.rider {
    margin: 150px 0;
}
.rider__container {
    max-width: 80%;
}
.rider__main {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.rider__equip {
    width: 45%;
}
.equip__bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.equip__item {
    display: flex;
    background: rgba(213, 98, 29, 0.1);
    padding: 20px 40px 18px 40px;
    justify-content: space-between;
    border-radius: 5px;
}
.rider__engineers {
    width: 45%;
}
.engineers__title {
    text-align: center;
    h3 {
        font-size: 2rem;
    }
}
.engineers__cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
}
.engineer__name {
    text-align: center;
    margin: 30px 0 25px 0;
    line-height: 20px;
    p {
        font-family: 'GothamPro',sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.social {
    text-align: center;
    display: flex;
    gap: 25px;
    justify-content: center;
    button {
        padding: 13px 11px 10px 11px;
    }
}